/*スマホ　@media screen and (max-width: 480px)　{ }
PC @media screen and (min-width: 481px)　{ }
 */

 @font-face {
  font-family: 'まるがめ本丸ゴシック-R';
  src: url('/marugame.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-weight: 500;
  color: #171918;
  font-size: 15px;
}

.span1{
  color: #f2a12c;
}

.sp{
  display: none;
}

/* ===== ヘッダーのスタイル ===== */
header{
    background-color:#53bba2;
    width:100%;
    height: 80px;
    position:fixed;
    display: flex;
    align-items: center;
    z-index:100;
}
.top-image h1{
  font-family: "游ゴシック体";

}

@media screen and (max-width: 480px){
  header{
    background-color:#53bba2;
    width:100%;
    height: 80px;
    position:fixed;
    display: flex;
    align-items: center;
    z-index:100;
}}


/*ナビの箱*/
nav{
    margin-left: auto;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*リスト全体*/
nav ul{
    display: flex;
    height: 100px;
    align-items: center;
    list-style: none;
}

/* １つ１つのリスト */
nav li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }

/*リンク*/
nav a{
    text-decoration: none;
    color: #fff;
    padding: 8px;
}

/* リンクにふれた時 */
nav a:hover {
    color: #ffcc11;
  }

  /* メニュー間の線 */
.container span{
  height: 25px;
  width: 2px;
  border-radius: 1px;
  background-color: #fff;
}

@media screen and (max-width: 480px){ 
.container{
  display:none;
}
.top-logo{
  width: 200px;
  padding:50px;
}


}

  /* メニューのロゴ */
.top-logo{
    width: 200px;
    padding:50px;
}

@media screen and (max-width: 480px){ 
  .top-logo{
      width: 100px;
      padding:20px;
  }}
  

/* FV背景画像 */

.top-image{
    background-image: url(/images/top-image.png);
    height: 800px;
    background-size: cover;
    background-position: center 50%;
}

@media screen and (max-width: 800px){
  .top-image{
    background-image: url(/images/FV-sp.png);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center 50%;
}}

/* FVロゴ */

.top-image img{
  margin: 0px auto;
  padding: 165px 0 70px;
  display: block;
  height: 200px;
  text-align: center;
}

@media screen and (max-width: 800px){
  .top-image img{
    margin: 0px auto;
    padding: 145px 0 70px;
    display: block;
    height: 100px;
    text-align: center;
  }}

.top-image h1{
  font-size: 20px;
  text-align: center;
  margin-top:-85px ;
  font-family: "游ゴシック体";
  color: #171918;
}

@media screen and (max-width: 800px){
  .top-image h1{
    font-size: 13px;
    text-align: center;
    margin-top:-85px ;
    font-family: "游ゴシック体";
    color: #171918;
  }}


/* ===== 文字の設定 ==== */
/* sub-titleのデザイン */
  .sub-title1 {
    position: relative;
    color: #171918;
    font-size: 32px;
    text-align: center;
    font-family: "まるがめ本丸ゴシック-R";
  }

  @media screen and (max-width: 480px){
    .sub-title1 {
      position: relative;
      color: #171918;
      font-size: 23px;
      text-align: center;
      font-family: "まるがめ本丸ゴシック-R";
    }
  }

  .sub-title2 {
    position: relative;
    color: #171918;
    font-size: 32px;
    text-align: center;
    font-family: "まるがめ本丸ゴシック-R";
  }

  @media screen and (max-width: 480px){
    .sub-title2 {
      position: relative;
      color: #171918;
      font-size: 23px;
      text-align: center;
      font-family: "まるがめ本丸ゴシック-R";
    }
  }

  .sub-title3 {
    position: relative;
    color: #171918;
    font-size: 32px;
    text-align: center;
    font-family: "まるがめ本丸ゴシック-R";
  }

  @media screen and (max-width: 480px){
    .sub-title3 {
      position: relative;
      color: #171918;
      font-size: 23px;
      text-align: center;
      font-family: "まるがめ本丸ゴシック-R";
    }
  }

  .sub-title4 {
    position: relative;
    color: #171918;
    font-size: 32px;
    text-align: center;
    font-family: "まるがめ本丸ゴシック-R";
  }

  @media screen and (max-width: 480px){
    .sub-title4 {
      position: relative;
      color: #171918;
      font-size: 23px;
      text-align: center;
      font-family: "まるがめ本丸ゴシック-R";
    }
  }

  .sub-title5 {
    position: relative;
    color: #171918;
    font-size: 32px;
    text-align: center;
    font-family: "まるがめ本丸ゴシック-R";
    margin-bottom: 50px;
  }

  @media screen and (max-width: 480px){
    .sub-title5 {
      position: relative;
      color: #171918;
      font-size: 23px;
      text-align: center;
      font-family: "まるがめ本丸ゴシック-R";
    }
  }

  /* sub-titleの下線  ※後で各項目に分けること！*/
  .sub-title1:before { 
    display: inline-block;
    position: absolute;
    width: 260px;
    height: 5px;
    border-radius: 2px;
    background-color: #53bba2;
    content: '';
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @media screen and (max-width: 480px){
    .sub-title1:before { 
      display: inline-block;
      position: absolute;
      width: 200px;
      height: 5px;
      border-radius: 2px;
      background-color: #53bba2;
      content: '';
      bottom: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .sub-title2:before { 
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 5px;
    border-radius: 2px;
    background-color: #53bba2;
    content: '';
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @media screen and (max-width: 480px){
    .sub-title2:before { 
      display: inline-block;
      position: absolute;
      width: 220px;
      height: 5px;
      border-radius: 2px;
      background-color: #53bba2;
      content: '';
      bottom: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .sub-title3:before { 
    display: inline-block;
    position: absolute;
    width: 195px;
    height: 5px;
    border-radius: 2px;
    background-color: #53bba2;
    content: '';
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @media screen and (max-width: 480px){
    .sub-title3:before { 
      display: inline-block;
      position: absolute;
      width: 150px;
      height: 5px;
      border-radius: 2px;
      background-color: #53bba2;
      content: '';
      bottom: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .sub-title4:before { 
    display: inline-block;
    position: absolute;
    width: 360px;
    height: 5px;
    border-radius: 2px;
    background-color: #53bba2;
    content: '';
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @media screen and (max-width: 480px){
    .sub-title4:before { 
      display: inline-block;
      position: absolute;
      width: 270px;
      height: 5px;
      border-radius: 2px;
      background-color: #53bba2;
      content: '';
      bottom: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  
  .sub-title5:before { 
    display: inline-block;
    position: absolute;
    width: 325px;
    height: 5px;
    border-radius: 2px;
    background-color: #53bba2;
    content: '';
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  @media screen and (max-width: 480px){
    .sub-title5:before { 
      display: inline-block;
      position: absolute;
      width: 250px;
      height: 5px;
      border-radius: 2px;
      background-color: #53bba2;
      content: '';
      bottom: -4px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  
  /* ===== セクション1 ==== */
  /* バック背景 */
  .section1{
    padding: 100px 2vw;
    background-color: #e3f2f0;
  }

  /* 本文 */
  /*※後で一つの式に統一する！！*/
  .section1 p{
      margin-top: 50px;
      text-align: center;
      letter-spacing: 8px;
      line-height: 30px;
  }

  @media screen and (max-width: 480px){
    .section1 p{
      padding-top: 80px;
      text-align: left;
      letter-spacing: 0px;
      line-height: 30px;
      padding: 20px 10px;
      font-size: 16px;
      margin-top: 30px;
    }

    .sp{
      display: block;
      font-size: 0px;
    }
  }

  /* ボタン */
  .section1 a{
    width:250px;
    font-size:15px;
    text-decoration:none;
    text-align:center;
    display:block;
    margin-top:80px;
    padding:15px 15px 15px;
    color:#fff;
    background-color:#53bba2;
    border-radius: 23px;
}

.section1 div{
  display: flex;
  justify-content:center;
  margin-top: -20px;
}


/* 斜めセクション */

.section1{
  position: relative;
}
.section1::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 65px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  width: 0;
}

@media screen and (max-width: 480px){
  .section1::before {
    border-width: 35px 100vw 0 0;
  }

}


/* ===== セクション2 ==== */
/* 背景 */
.section2 {
  padding: 100px 4.5vw;
  background-color: #fff;
  height: 100%;
}

/* 段落 */
.section2 p{
  padding-top:50px ;
  text-align: center;
  letter-spacing: 8px;
  line-height: 30px;
}


.swiper-container{
  width: 100%;
}

.QA-box{
    margin: 40px auto;
    background: #fff;
    border-radius: 40px;
    border: solid 1px #000;
    padding: 60px;
    text-align: center;
}

.QA-subtitle-img{
  text-align: center;
}

.QA-title-box{
  justify-content: right;  /* 水平方向の中央寄せ */
  align-items: center;      /* 垂直方向の中央寄せ */
  flex-wrap: wrap;
}

.QA-Que{
  font-size: 28px;
  font-family: "まるがめ本丸ゴシック-R";
  text-align: center;
  padding-top: 30px;
}

.demo4{
  text-align: center;
}

.QA-Ans-img2{
  margin: 50px;
}


.QA-Ans-txt{
  margin-top: 30px;
}

.QA-Ans{
  font-size: 25px;
  font-family: "まるがめ本丸ゴシック-R";
}

.QA-Ans-p{
  font-size: 15px;
  font-family: "游ゴシック体";
  text-align: center;
}

.QA-Ans-txt p{
  font-size: 15px;
  font-family: "游ゴシック体";
  text-align: center;
}

.demo{
  background: linear-gradient(transparent 60%, #ceefe6 40%);
}

.span2{
  color: #f2a12c;
  font-size: 25px;
}

.span3{
  color:#f2a12c;
  font-size: 30px;
}

.QA-img-new{
  width: 30vw;
}

@media screen and (max-width: 480px){
  .section2 p{
    text-align: left;
    letter-spacing: 0px;
  }

  .QA-box{
    padding: 20px 15px;
  }

    .QA-img-new{
      width: 60vw;
  }

}

/* ===== セクション3 ==== */
/* 斜めセクション */
.section2 {
  position: relative;
}
.section2::before {
  border-color: transparent #e3f2f0 transparent transparent;
  border-style: solid;
  border-width: 65px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  width: 0;
}

@media screen and (max-width: 480px){
  .section2::before {
    border-width: 35px 100vw 0 0;
  }

}

/* セクション背景 */
.section3 {
  padding: 100px 2vw;
  background-color: #e3f2f0;
  height: 100%;
}

/* 段落 */ 
.section3 p{
  padding-top:50px ;
  text-align: center;
  letter-spacing: 8px;
  line-height: 30px;
}

@media screen and (max-width: 480px){
  .section3 p{
    padding-top: 80px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 30px;
    padding: 20px 10px;
    font-size: 16px;
    margin-top: 30px;
  }
}

/* カード*/
.card-container {
  display: grid; /* カードの横並び */
  gap: 100px 120px; /* カード同士の隙間 縦方向 横方向 */
  margin: 110px auto 0;
  text-align: center; /* カード内の中央寄せ */
  padding-top: 180px;
  padding-bottom: 50px;
  flex-wrap: wrap;
  justify-content:space-around;
}

.card-item {
  width:280px;
  height:280px;
  background:#fff;
  border-radius:30px;
  position: relative;
}

.card-img {
  width:240px;  
  height:240px;
  padding: 40px 0px;
}

/*  吹き出し */
.comment{
  width: 100px;
  position: absolute;
  top:-7%;
  right: -10%;
}

/* ボタン */
.section3 a{
  width:250px;
    font-size:15px;
    text-decoration:none;
    text-align:center;
    display:block;
    margin-top:80px;
    padding:15px 15px 15px;
    color:#fff;
    background-color:#53bba2;
    border-radius: 23px;
  }

.section3 div{
  display: flex;
  justify-content:center;
  margin-top: -50px;
}


@media screen and (max-width: 480px){
  .card-container {
    gap: 80px 30px; /* カード同士の隙間 縦方向 横方向 */
  }
  
  .card-item {
    width:150px;
    height:150px;
  }
  
  .card-img {
    width:140px;  
    height:140px;
    padding-top: 15px;
  }
  
  .comment{
    width: 60px;
  }


}

/* ===== セクション4 ==== */
/* 斜めセクション */
.section3 {
  position: relative;
}
.section3::before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 65px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  width: 0;
}

@media screen and (max-width: 480px){
  .section3::before {
    border-width: 35px 100vw 0 0;
  }

}

/* セクション背景 */
.section4 {
  padding: 100px 2vw;
  background-color: #fff;
  height: 100%;
}

/* 段落 */ 
.section4 p{
  padding-top:50px ;
  text-align: center;
  letter-spacing: 8px;
  line-height: 30px;
}


@media screen and (max-width: 480px){
  .section4 p{
    padding-top: 80px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 30px;
    padding: 20px 10px;
    font-size: 16px;
    margin-top: 30px;
  }
}

/* カード */
.card-container2 {
  display: grid; /* カードの横並び */
  gap: 100px 120px; /* カード同士の隙間 縦方向 横方向 */
  margin: 180px auto 0;
  padding-top: 190px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.card-item2 {
  width:280px;
  height:280px;
  background:#fff;
  border-radius:30px;
  border: solid 1px #000;
}


.section4 a{
  width:250px;
    font-size:15px;
    text-decoration:none;
    text-align:center;
    display:block;
    margin-top:80px;
    padding:15px 15px 15px;
    color:#fff;
    background-color:#53bba2;
    border-radius: 23px;
  }

.section4 div{
  display: flex;
  justify-content:center;
  margin-top: -50px;
}


@media screen and (max-width: 480px){
  .card-container2 {
    gap: 80px 30px; /* カード同士の隙間 縦方向 横方向 */
  }

  .card-item2 {
    width:150px;
    height:150px;
  }

}

/* ===== セクション5 ==== */
/* 斜めセクション */
.section4 {
  position: relative;
}
.section4::before {
  border-color: transparent #e3f2f0 transparent transparent;
  border-style: solid;
  border-width: 65px 100vw 0 0;
  bottom: 0;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  width: 0;
}

@media screen and (max-width: 480px){
  .section4::before {
    border-width: 35px 100vw 0 0;
  }

}

/* セクション背景 */
.section5 {
  padding: 100px 2vw;
  background-color: #e3f2f0;
  height: 100%;
}

/* 段落 */ 
.section5 p{
  text-align: center;
  letter-spacing: 8px;
  line-height: 30px;
  padding: 5px;
  padding-bottom:50px ;
}

@media screen and (max-width: 480px){
  .section5 p{
    padding-top: 80px;
    text-align: left;
    letter-spacing: 0px;
    line-height: 30px;
    padding: 20px 10px;
    font-size: 16px;
  }

.section5 .section5-title{
  padding-top: 50px;
}
}

/* 外部リンクボックス */ 
.wrapper {
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.button-flexbox {
  width: 60vw;
  padding: 50px;
}

.button-box {
  width: 600px;
  border: 2px solid #53bba2;
  box-sizing: border-box;
  border-radius: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding: 15px;
}

.div-box {
  width: 50%;
}

.div-box img {
  width: 100%;
  object-fit: contain;
}

.text-box {
  display: flex;
  align-items: center;
  color: rgb(36, 36, 36);
}

.button-box img{
  width: 50%;
  margin-right: 5px;
} 

.button-box a{
  font-size: 16px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 480px){
  .button-box {
    width: 90%;
    border: 2px solid #53bba2;
    box-sizing: border-box;
    border-radius: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    padding: 15px;
  }
  
  .button-box img{
    width: 30%;
    margin-right: 5px;
  } 

  .button-box a{
    font-size: 13px;
    text-decoration: none;
    color: #000;
  }
}

/* ===== フッター ==== */
footer {
  text-align: center;
  background-color: #53bba2;
  color: #ffffff;
  width: 100%;
  height: 40px;
  padding: auto;
  justify-content: center;
  padding-top: 15px;
}

.sample{
  display: flex;
  justify-content: right;  /* 水平方向の中央寄せ */
  align-items: center;      /* 垂直方向の中央寄せ */
}